<div class="text-center">
  <h2>{{posttitle}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">New Post!</button>
  </p>
</div>
